@mixin glasses {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 2.5px);
    -webkit-backdrop-filter: blur( 2.5px);
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

@mixin glasses-btn {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 2.5px);
    -webkit-backdrop-filter: blur( 2.5px);
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    &:focus {
        box-shadow: inset 0 8px 32px 0 rgba(0, 1, 2, 0.151);
        transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -o-transition: all ease .5s;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../media/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .calculator {
        font-family: 'Anton', sans-serif;
        margin-top: 10px;
        h2 {
            color: white;
            text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.349);
            text-align: center;
            font-size: 40px;
            font-weight: 500;
        }
        width: fit-content;
        display: flex;
        flex-direction: column;
        padding: 32px;
        @include glasses();
        input {
            @include glasses-btn();
            padding: 10px;
            text-align: center;
            margin: 5px 0px 15px 0;
            font-size: 25px;
            font-weight: 700;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            .numbers_button {
                display: flex;
                flex-wrap: wrap;
                flex-basis: 80%;
                justify-content: space-evenly;
                button {
                    cursor: pointer;
                    padding: 10px;
                    margin: 5px;
                    flex-basis: 30%;
                    font-weight: 700;
                    @include glasses-btn();
                }
            }
            .operations_button {
                flex-basis: 20%;
                display: flex;
                flex-direction: column;
                .o-b {
                    @include glasses-btn();
                    padding: 10px;
                    margin: 7px 0;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}